<div id="app">
  <parabol-sidebar>      
    <parabol-menu-item routerLink="/revelation/overview" routerLinkActive="active">
      <fa name="eye"></fa>
      <p>Overview</p>
    </parabol-menu-item>
    
    <parabol-menu-item routerLink="/revelation/logs" routerLinkActive="active">
      <fa name="bars"></fa>
      <p>Logs</p>
    </parabol-menu-item>
    
    <parabol-menu-item routerLink="/revelation/reports" routerLinkActive="active">
      <fa name="bars"></fa>
      <p>Reports</p>
    </parabol-menu-item>
  </parabol-sidebar>

  <parabol-sidebar-content>
    <router-outlet autoscroll="false"></router-outlet>
  </parabol-sidebar-content>
</div>
