<div id="logs">
  <div class="screen-container">
    <h1>Logs</h1>

    <div class="list-container">
      <parabol-text class="filter" placeholder="Filter" [(model)]="filter" (keyup)="filterList(filter)"></parabol-text>

      <parabol-pending [pending]="!logs"></parabol-pending>

      <div class="box"
           *ngFor="let log of logs | orderBy: '-timestamp' | filterBy: ['api_endpoint', 'request_method', 'response_status']: filter"
           (click)="showBody(log)">
        <div class="method" [class.warn]="log?.response_status.toString().charAt(0) !== '2'">{{ log?.request_method }}</div>
        <div class="req-route">{{ log?.request_url }}{{ log?.api_endpoint }}</div>
        <div class="time">{{ log?.timestamp | from }}</div>
      </div>
    </div>

    <div class="display" [class.open]="selectedLog" #displayElement>
      <fa name="times" class="close" (click)="selectedLog = null"></fa>

      <div class="endpoint">
        <h2>{{ selectedLog?.request_method }} {{ selectedLog?.request_url }}{{ selectedLog?.api_endpoint }}</h2>
        <p>{{ selectedLog?.timestamp | date: 'medium' }}</p>
      </div>
      
      <span class="response-code" [class.warn]="selectedLog?.response_status.toString().charAt(0) !== '2'">
        {{ selectedLog?.response_status }}
      </span>

      <div class="clear"></div>

      <div class="code-block" *ngIf="selectedLog?.request_headers">
        <h2>Request Headers</h2>
        <code>
          <pre>{{ selectedLog?.request_headers | json }}</pre>
        </code>
      </div>

      <div class="code-block" *ngIf="selectedLog?.request_body">
        <h2>Request Body</h2>
        <code>
          <pre>{{ selectedLog?.request_body | json }}</pre>
        </code>
      </div>

      <div class="code-block" *ngIf="selectedLog?.response_body">
        <h2>Response Body</h2>
        <code>
          <pre>{{ selectedLog?.response_body | json }}</pre>
        </code>
      </div>
    </div>
  </div>
</div>
