#logs {
  h1 { margin-bottom: 2em }

  .list-container {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    margin-right: 5%;
    
    .filter { margin-bottom: 1em }

    .box {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
      border: 1px solid darken($colorBackground, 10%);
      background: lighten($colorBackground, 5%);
      padding: .8em 1em;
      color: $colorDarkGrey;
      cursor: pointer;
      margin-top: .3em;

      &:last-child { border: none }

      .method {
        display: inline-block;
        padding: .2em .4em .15em;
        background: $colorSuccessGreen;
        border-radius: 3px;
        color: $colorOffWhite;
        font-size: .9em;
        margin-right: 1em;
        vertical-align: middle;
        
        &.warn { background: $colorErrorRed }
      }

      .req-route {
        display: inline-block;
        vertical-align: middle;
      }

      .time {
        display: inline-block;
        vertical-align: middle;
        float: right;
        font-size: .9em;
        margin-top: .2em;
      }
    }
  }

  .display {
    @include position(fixed, 0 -30% 0 null);
    @include transition(right .2s ease-in-out);
    @include size(30% 100%);
    background: $colorBackground;
    border-left: 2px solid $colorSecondaryCorp;
    -webkit-box-shadow: -20px 0px 10em 10em rgba(200, 200, 200, .1);
    -moz-box-shadow: -20px 0px 10em 10em rgba(200, 200, 200, .1);
    box-shadow: -20px 0px 10em 10em rgba(200, 200, 200, .1);
    padding: 1em;
    opacity: 0;
    overflow-y: scroll;

    &.open {
      @include position(fixed, 0 0 0 null);
      @include transition(right .2s ease-in-out);
      opacity: 1;
    }

    .close {
      @include position(absolute, .5em null null -1.5em);
      font-size: 1.5em;
      color: $colorSecondaryCorp;
      cursor: pointer;
    }

    .endpoint {
      display: inline-block;
      float: left;
      vertical-align: middle;
      margin-bottom: 2em;

      h2 {
        font-size: 1.2em;
        font-weight: 500;
        margin-bottom: .5em;
      }
      
      p {
        font-size: 1em;
        margin: 0;
      }
    }

    .response-code {
      display: inline-block;
      padding: .3em .8em;
      float: right;
      background: $colorSuccessGreen;
      border-radius: 3px;
      color: $colorOffWhite;
      font-size: 1em;
      vertical-align: middle;
      
      &.warn { background: $colorErrorRed }
    }

    .code-block {
      background: $colorLightGrey;
      padding: 1em;
      border-radius: 5px;
      margin-top: 1em;
      overflow-x: scroll;
    }

    h2 {
      color: $colorSecondaryCorp;
      font-weight: 500;
      font-size: 1em;
      margin: 0 0 1em;
    }
  }

  .filter-container {
    vertical-align: top;
    display: inline-block;
    width: 30%;

    h3 {
      text-transform: uppercase;
      font-size: 1em;
      font-weight: bold;
      border-bottom: 2px solid #666;
      margin-bottom: 2em;
    }

    .button {
      margin-top: 2em;
      border-radius: 3px;
    }
  }
}