#overview {
  h1 { margin-bottom: 2em }
  
  #map {
    margin-bottom: 2em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
  }
  
  parabol-pending {
    display: block;
    margin: 23em 0;
    
    &.hidden { display: none }
  }

  .panel, .large-panel {
    @include span-columns(3 of 12);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px 0px;
    min-height: 14em;

    .title {
      background: $colorSecondaryCorp;
      color: $colorOffWhite;
      text-align: center;
      text-transform: uppercase;
      padding: 2em 1em;
    }

    .body {
      text-align: center;
      background: white;
      padding: 1em;

      p { font-size: 2em; }
    }
  }

  .large-panel { @include span-columns(6 of 12) }

  .row {
    margin-bottom: .3em;
    
    .bar-container {
      width: calc(100% - 3em);
      display: inline-block;
      vertical-align: middle;

      .bar {
        background: $colorSuccessGreen;
        text-align: left;
        color: $colorOffWhite;
        padding: .3em .5em;
        font-size: .9em;
        height: 1.8em;
        
        &.warn { background: $colorErrorRed }
      }
    }

    .status {
      width: 3em;
      display: inline-block;
      vertical-align: middle;
      float: right;
      line-height: 1.8em;
      font-weight: bold;
    }
  }
}